.products {
    width: 100%;
}

.product {
    &-card {
        min-width: 500px;
        border: 1px solid red;
        margin: 20px;
    }

    &-menu {
        background-color: #424242;
        margin: 10px 20px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-search {
        margin: 10px;
    }
}

.delete {
    margin-left: 20px;
}

mat-card-actions {
    text-align: center;
}